h1.title {
    text-align: center;
    font-size: 85px;
    text-transform: uppercase;
    padding: 20px 0 10px 0;
}

h1 span.green {
    color: #2BDE73;
}

h1 span.black {
    color: #020621;
}

select[name=pledgeLevels] {
    height: 200px;
}

body {
    background-color: #FBFBFA;
}

.jumbotron {
    background-color: white;
    box-shadow: 0 2px 4px 0 #DCDEDD

}

.btn-success {
    background-color: #25CB68;
    color: white;

}

.btn:hover {
    box-shadow: none;
    border: 0;
}

.btn.btn-default {
    color: #626369;
}

#backerStatsTable tr.available:nth-of-type(odd) {
    background-color: #cbf2cc;
}

#backerStatsTable tr.available:nth-of-type(even) {
    background-color: #bbe2bc;
}
