h1.title {
    text-align: center;
    font-size: 85px;
    text-transform: uppercase;
}

h1 span.green {
    color: #2BDE73;
}

h1 span.black {
    color: #020621;
}

select[name=pledgeLevels] {
    height: 200px;
}